<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CHAT</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div class="container">
		<div class="app">
			<div class="head">
				<span class="title">liaCT.ai</span>
			</div>
			<div class="body">
				<div class="chat-messages">
					<div class="chat">
						<div class="chat-content clearfix">
							<span class="lia">
								Hello
							</span>
						</div>
					</div>
				</div>
				<footer class="msg-box">
						<input type="text" class="ip-msg" placeholder="Type your message..." />
						<button class="btn">
							<span class="send">Send</span>
						</button>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>