<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CHAT</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script type="text/javascript" src = "js/bootstrap.min.js"></script>
	<script type="text/javascript" src = "js/jquery.min.js"></script>
	<script type="text/javascript" src = "js/script.js"></script>
</head>
<body>
	<div class="container">
		<div class="app">
			<div class = "row">
				<div class="head">
					<span class="title">liaCT.ai</span>
				</div>
			</div>
			<div class="body">
				<div class="chat-messages">
					<div class="chat">
						<div class="chat-content clearfix">
							<span class="lia">
								Hello
							</span>
						</div>
					</div>
				</div>
				<div class="msg-box">
						<input id = "chat-input" type="text" class="ip-msg" placeholder="Type your message..." />
						<button class="btn" onclick = "getBotResponse()">
							<span class="send">Send</span>
						</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>